@charset "utf-8";
/* CSS Document */

#container {
	width: 940px;

	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	color:#003366;
	background-color:#f4f4f4;

	
	bottom: 0;
	padding-top:30px;
	border-color:#323232;
	border-left-width:medium;
	border-left-style:solid;
	border-right-style:solid;
	border-right-width:medium;
	text-align: center;
	padding-right:30px;
	}
	#banner{
		background-image: url(img/banner.gif);
		height:294px;	
	}
	#nav{
		background-image:url(img/nav.gif);
	height:35px;
	bottom:0;
	padding:5px;
	padding-right:50px;
	color: #c5e0ef;
	font-family: "Karla", sans-serif;
	font-size: 18px;
	text-align: center;

	}
	
	#navBox{
		float:right;
		width:80px;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px;
		height:20px;
		border-radius:8px;
		border-style:solid;
		border-color:#323232;
		background-color:#222222;
		font-size: 16px;
	}
	#navBox:hover {
	background-color:#454545;
	font-size: 16px;
	}

	#main{
		background-image:url(img/main.gif);
		background-repeat:no-repeat;
		height:auto;
		top:0;
		padding-top:0px;
		margin:auto;
		text-align: center;
	}
	
#fixed_navigation {
	position:absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	
	background-color:#323232;
	color: #FFF;
	border-bottom-style: solid;
	border-color: #333;
	padding:5px;
	font-family: 'Karla', sans-serif;
	

}
	




#fixed_navLinks {
	width:1000px;
	margin:auto;
	height:auto;
	height: 149px;
	text-align: center;
	padding-right:30px;
	font-size: 14px;
	background-image:url(banner.png);
	background-position:center;
	background-repeat:no-repeat;
	
}

body {
	font-family: Calibri;
	
	background-color:#323232;
}
